
        <title>Sample Style1.css</title>
    

<style> p{color:crimson;font-size: :24px;}
        div{color:aquamarine;font-size: 12px;}

#First Paragraph{color: aliceblue;font-size: 24px}
.red{color:red;}
.blue{color:blue;}
